body {
	margin: 0 0 1em 0;
	padding: 0;
	color: black;
	background-color: #eee;
	line-height: 130%;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}

#wrapper-header {	background: #222; }

#header {
	background: #222 url("images/banner.jpg") right no-repeat;
	width: 75%;
	height: 125px;
	line-height: 125px;
	margin: 0 auto;
	border-left: 1px solid #707070;
	border-right: 1px solid #707070;
	text-align: left;
}

#header h1 {
	margin: 0;
	padding: 0;
	color: #eee;
	font-size: 300%;
	padding-left: 10px;
	letter-spacing: -1px;
}

#wrapper-menu {
	background: #808080;
	float: left;
	width: 100%;
}

#menu {
	width: 75%;
	margin: 0 auto;
	font-size: 95%;
	white-space: nowrap; /* stops half a menu link dropping to next line. Instead, the whole link will drop. This only happens if you have a lot of menu links, and large text size */
	padding-right: 2px;	/* The menu far left, and far right borders are not quite lining up in non IE browsers for some reason. This makes it less noticable */
}

* html #menu { padding-right: 0; } /* See above comment. This re-adjusts IE to the above padding */

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	border-left: 1px solid #6B6B6B;
	border-right: 1px solid #6B6B6B;
	width: 100%;
}

#menu li { display: inline; }

#menu a:link, #menu a:visited {
	padding: 0.25em 1em;
	background: transparent;
	color: #fff;
	text-decoration: none;
	float: left;
	border-right: 1px solid #6B6B6B;
}

#menu a:hover {
	background: #FFA500;
	color: #485b06;
}

#content {
	width: 73%; /* 73% because it has 1% padding on each side, which brings it to 75% wide */
	margin: 0 auto;
	padding: 3.5em 1% 20px 1%;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;
	background: white;
	font-size: 110%;
	text-align: left;
}

* html #content { padding-top: 1.8em; } /* Set padding top in IE to 20px */

iframe {
    position: relative;
}

#footer {
	margin: 0 auto;
	padding: 2px 1%;
	width: 73%;
	text-align: right;
	color: white;
	letter-spacing: 0.15em;
	background: #A0A0A0	;
	border: 1px solid #6B6B6B;
	font-size: 80%;
}

h2 {
	color: #FFA500;
	padding-bottom: 7px;
	border-bottom: 1px solid #6B6B6B;
	font-size: 150%;
	letter-spacing: 1px;
}

h3 {
	color: #4C58A4;
	margin-left: 0.5em;
	padding-bottom: 4px;
	font-size: 120%;
	letter-spacing: 1px;
}

a.github:link, a.github:visited {
	color: #A0A0A0;
	text-decoration: none;
}

a.github:hover {
	color: #000;
	text-decoration: underline;
}

a:link, a:visited {
	color: #CC6600;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

p {
	width: 70%;
	margin-left: 1em;
	letter-spacing: 0.7px;
	line-height:25px;
	white-space: pre-line;
}

#projIMG{
	padding: 10px;
	float:right;
}

.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

.fade.ng-enter.ng-enter-active {
  opacity:1;
}

.fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}