<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" ng-app="resume">

	<head>
		<title>Tiancheng's Homepage</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="Author" content="Tiancheng Gong">
		<meta name="Keywords" content="Tiancheng Gong" />
		<meta name="Description" content="Tiancheng's Homepage"/>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<link rel="stylesheet" type="text/css" href="mystyles.css" />
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
		<link rel="shortcut icon" href="favicon.ico" />
	</head>

	<body id="altbody">

		<div id="wrapper-header">
			<div id="header">
				<h1>Tiancheng's Homepage</h1>
			</div>
		</div>

		<div id="wrapper-menu">
			<div id="menu">
				<ul>
					<li><a title="Home" href="index.html">Home</a></li>
					<li><a title="Biography" href="biography.html">Biography</a></li>
					<li><a title="Resume" href="resume.html">Resume</a></li>
					<li><a title="Contact" href="contact.html">Contact</a></li>
				</ul>
			</div>
		</div>
		<div id="content" ng-controller="ResumeController as resumeCtrl" ng-cloak>
			<div id="resume">
				<h2>Resume</h2>
				<div id="resume window" position = "relative" align = "center">
					<iframe src="resume/resume.pdf" style="width:70%; height:1200px;" frameborder="5"></iframe>
					<p><a href="resume/resume.pdf" download="w3logo">Download My Resume(PDF)</a></p>
				</div>
			</div>

			<div id="projects">
				<h2>Projects</h2>
				<div id="cv">
					<h3>Computer Vision Projects:</h3>
					<p>
						<ul>
							<li ng-repeat="CVproduct in resumeCtrl.CVproducts">
								<div id="projIMG" ng-if="buttonStatus" class="fade">
									<img src="{{CVproduct.img_path}}" height="220px"/>
								</div>
								<a ng-href="{{CVproduct.page_path}}" target="_blank">{{CVproduct.name}}</a> 
								<a href="{{CVproduct.github_link}}" target="_blank" class = "github">[github]</a>
								<md-button ng-click="buttonStatus = !buttonStatus">{{buttonStatus && "- Hide Description" || "+ Show Description"}}</md-button>
								<div ng-if="buttonStatus" class="fade">
									<p>{{CVproduct.description}}</br></br></p>
								</div>
							</li>
						</ul>
					</p>
				</div>
				</br>
				<div id="gba">
					<h3>GBA Game (C):</h3>
					<p>
						<ul>
							<li><a href="projects\gba\index.html" target="_blank">GBA Game: Be A Man V1.0</a> <a href="https://github.com/all4win/gba_game" target="_blank" class = "github">[github]</a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>

		<div id="footer">
			&copy; 2016 <a href="index.html">Tiancheng Gong</a>
		</div>

	</body>

</html>
